<template name="shopindex">
	{{#if shops}}
		<div class="row">
			<div class="col-sm-12">
				<table class="table" data-db-table-name="shop" >
					<thead>
						<tr>
							<th data-db-row-name="shop_name">
								Nom
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						{{#each shops}}
							{{>shopitem}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	{{/if}}
</template>

<template name="shopitem">
	<tr data-shop-id="{{_id}}">
		<td class="td-lg">
			<a href="{{pathFor route='shop.view' shopId=_id}}" class="btn btn-lg btn-link">
				{{name}}
			</a>
		</td>
		<td>
			<a href="{{pathFor route='shop.edit' shopId=_id}}" class="btn btn-lg btn-default">
				Modifier
			</a>
		</td>
	</tr>
</template>