<template name="shopedit">
	<h3>Créer un Magasin/Client</h3>
	<hr/>
	<form class="form-inline" role="form" > 
		<input type="hidden" name="_id" value="{{_id}}">
		<fieldset class="row">
			<label class="col-sm-2">Identification</label>
			<div class="form-group col-sm-5">
				<div class="input-group col-sm-12">
					<label class="input-group-addon" for="tva" >N°TVA</label>
					<input class="form-control input-lg" type="text" id="tva" name="tva" placeholder="ex : BE0849725938" value="{{tva}}">
				</div>
			</div>
		</fieldset>
		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-5">
				<div class="input-group col-sm-12">
					<label class="input-group-addon" for="brand" >Enseigne</label>
					<input class="form-control input-lg" type="text" id="brand" name="brand" placeholder="ex : Point Chaud" value="{{brand}}">
				</div>
			</div>
		</fieldset>
		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-5">
				<div class="input-group col-sm-12">
					<label class="input-group-addon" for="name" >Nom</label>
					<input class="form-control input-lg" type="text" id="name" name="name" placeholder="ex : Point Chaud Waremme" value="{{name}}" >
				</div>
			</div>
		</fieldset>
		
		<hr/>

		<fieldset class="row">
			<label class="col-sm-2">Adresse</label>
			<div class="form-group col-sm-5">
				<div class="input-group col-sm-12">
					<label class="input-group-addon" for="address_street" >Rue</label>
					<input class="form-control input-lg" type="text" id="address_street" name="address_street" placeholder="" value="{{address.street}}">
				</div>
			</div>
		</fieldset>
		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-5">
				<div class="input-group col-sm-12">
					<label class="input-group-addon" for="address_number" >Numéro</label>
					<input class="form-control input-lg" type="text" id="address_number" name="address_number" placeholder="" value="{{address.number}}">
				</div>
			</div>
		</fieldset>
		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-5">
				<div class="input-group col-sm-12">
					<label class="input-group-addon" for="address_city" >Ville</label>
					<input class="form-control input-lg" type="text" id="address_city" name="address_city" placeholder="" value="{{address.city}}">
				</div>
			</div>
		</fieldset>
		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-5">
				<div class="input-group col-sm-12">
					<label class="input-group-addon" for="address_zipcode" >Code postals</label>
					<input class="form-control input-lg" type="text" id="address_zipcode" name="address_zipcode" placeholder="" value="{{address.zipcode}}">
				</div>
			</div>
		</fieldset>
		
		<hr/>
		
		<fieldset class="row">
			<label class="col-sm-2">Contacts</label>
		</fieldset>
		{{>shopcontacts contacts}}
		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-5">
				<div class="input-group col-sm-12">
					<button class="btn btn-lg btn-default addContact">Ajouter</button>
				</div>
			</div>
		</fieldset>

		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-5">
				<button type="submit" name="submit" class="btn btn-lg btn-block btn-primary shopUpdate">Enregistrer</button>
			</div>
		</fieldset>
	</form>
</template>

