<template name="rdvPlanner">
	<fieldset class="row">
		<label class="col-sm-2">Plannification contrat de maintenance</label>
		<div class="form-group col-sm-6">
			<div class="input-group col-sm-12">
				<label class="input-group-addon" for="firstdate">Premiere maintenance</label>
				<input class="form-control input-lg" type="text" name="firstdate" id="firstdate" value=""  data-date-format="dd-DD/MM/YY" readonly autocomplete="off" required />
			</div>
		</div>
	</fieldset>
	<fieldset class="row">
		<div class="form-group col-sm-offset-2 col-sm-3">
			<div class="input-group col-sm-12">
				<label class="input-group-addon" for="interval">Interval</label>
				<input class="form-control input-lg" type="number" min="1" name="interval" id="interval" value="" autocomplete="off" required />
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="input-group col-sm-12">
				<label class="input-group-addon" for="duration">Durée</label>
				<input class="form-control input-lg" type="number" min="1" name="duration" id="duration" value="" autocomplete="off" required />
			</div>
		</div>
	</fieldset>
	
</template>