<template name="workIndex">
	{{#if listView}}
		<ul class="pagination pagination-lg pull-right no-margin">
			{{#each pager}}
				{{#if first}}
					<li>
						<a href="{{pathFor route='shop.view' shopId=shopId query=query.data}}" aria-label="Previous">
							<i class="fa fa-angle-double-left"></i>&nbsp;{{query.date}}
						</a>
					</li>
				{{else}}
					{{#if last}}
						<li>
							<a href="{{pathFor route='shop.view' shopId=shopId query=query.data}}" aria-label="Next">
								{{query.date}}&nbsp;<i class="fa fa-angle-double-right"></i>
							</a>
						</li>
					{{else}}
						<li class="{{active}}">
							<a href="{{pathFor route='shop.view' shopId=shopId query=query.data}}">
								<i class="fa fa-angle-double-down"></i>
							</a>
						</li>
					{{/if}}
				{{/if}}
			{{/each}}
		</ul>
		<table class="table" data-db-table-name="works" >
				<thead>
					<tr>
						<th data-db-row-name="work_myId">
							ID
						</th>
						<th data-db-row-name="work_rdv">
							RDV
						</th>
						<th data-db-row-name="work_type">
							Type
						</th>
						{{#if isConnected isChief}}
						<th>
							Actions
						</th>
						{{/if}}
					</tr>
				</thead>
				<tbody>
					
					{{#if works.unfinished}}
						<tr>
							<th colspan="3">Travaux en cours :</th>
						</tr>
					{{/if}}
					
					{{#each works.unfinished}}
						<tr>
							<td>{{myId}}</td>
							<td>{{rdv}}</td>
							<td><a href="{{pathFor route='work.show' workId=_id}}" >{{type}}</a><br/></td>
							{{#if isConnected isChief}}
							<td></td>
							{{/if}}
						</tr>
					{{/each}}
					{{#if works.torun}}
						<tr>
							<th colspan="3">Travaux à venir :</th>
						</tr>
					{{/if}}
					{{#each works.torun}}
						<tr>
							<td>{{myId}}</td>
							<td>{{rdv}}</td>
							<td><a href="{{pathFor route='work.show' workId=_id}}" >{{type}}</a><br/></td>
							{{#if isConnected isChief}}
							<td>{{>buttondestroy method="workDestructor" _id=_id}}</td>
							{{/if}}
						</tr>
					{{/each}}
					{{#if works.finished}}
						<tr>
							<th colspan="3">Travaux cloturés :</th>
						</tr>
					{{/if}}
					{{#each works.finished}}
						<tr>
							<td>{{myId}}</td>
							<td>{{rdv}}</td>
							<td><a href="{{pathFor route='work.show' workId=_id}}" >{{type}}</a><br/></td>
							{{#if isConnected isChief}}
							<td>
								<button data-work-id="{{_id}}" class="workToPdf btn btn-md btn-primary">
									<i class="fa fa-file-pdf-o"></i>
								</button>
								{{#if entretien}}
									<button data-work-id="{{_id}}" class="maintenanceToPdf btn btn-md btn-danger">
										<i class="fa fa-file-pdf-o"></i>
									</button>
								{{/if}}
							</td>
							{{/if}}
						</tr>
					{{/each}}
				</tbody>
			</table>
	{{else}}
		{{> calendar works}}
	{{/if}}
</template>

<template name="workItem">
	<a href="{{pathFor route='work.show' workId=_id}}">{{type}} chez {{shop.name}}</a>
</template>