<template name="matterselector">
	<div class="row">
		<div class="form-group col-sm-12">
			<div class="input-group col-sm-12">
				<label class="input-group-addon autowidth" for="matter">
					<input 	class="typeahead input-lg" name="matter" id="matter" type="text" 
							placeholder="Matériel" autocomplete="off" spellcheck="off" 
							data-source="matters" data-highlight="true" required/>
					{{#if origins}}
						<select name="origin" class="form-control input-lg">
							<option  disabled selected>origin</option>
							{{#each origins}}
								<option value="{{this._id}}">{{this.ref}}</option>
							{{/each}}
						</select>

						{{#if destins}}
							<select name="destiny" class="form-control input-lg">
								<option disabled selected>destination</option>
								{{#each destins}}
									<option value="{{this.serial}}">{{this.serial}}</option>
								{{/each}}
							</select>
						{{/if}}
					{{/if}}
				</label>
				<input class="form-control input-lg input-xl z-index-auto" type="number" step="any" min="0" name="quantity" placeholder="Quantité" value="">
				<label class="input-group-addon autowidth">
					<select class="form-control input-lg lowercase z-index-auto" id="unit" name="unit">
						<option selected disabled>Unité</option>
						<option value="">-</option>
						{{#each units}}
							<option value="{{this.shortname}}" selected="{{this.selected}}">{{this.shortname}}</option>
						{{/each}}
					</select>
				</label>
			</div>
		</div>
	</div>
	{{inti}}
</template>


<template name="matterlist">
	{{#each work.matters}}
	<div class="row">
		<div class="form-group col-sm-12">
			<div class="input-group col-sm-12">
				<label class="input-group-addon">
					{{this.name}}
				</label>
				<input class="form-control input-lg z-index-auto" type="text" disabled="disabled" value="{{this.quantity}}">
				<label class="input-group-addon">
					{{this.unit}}
				</label>
			</div>
		</div>
	</div>
	{{/each}}
</template>
