<template name="work-new">
	<h3>Nouvelle fiche {{hash}}</h3>
	<hr/>
	<form class="form-inline" role="form"> 
		<input class="form-control" type="hidden" id="workType" name="workType" value="{{hash}}">
		<fieldset class="row shopselector">
			{{>shopselector}}
		</fieldset>
		{{#if rendezvous}}
			<hr/>
			<fieldset class="rdvPicker">
				{{>rdvPicker}}
			</fieldset>
		{{/if}}
		{{#if planner}}
			<hr/>
			<fieldset class="rdvPlanner">
				{{>rdvPlanner}}
			</fieldset>
		{{/if}}
		{{#if worker}}
			<hr/>
			<fieldset class="row worker">
				{{>workerselector}}
			</fieldset>
		{{/if}}

		{{#if planner}}
			<hr/>
			<div class="row">
				<label class="col-sm-2">Modules</label>
				<div class="form-group col-sm-5">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" >Modules</label>
						<div class="modules form-control input-lg">
							{{#each shopModules}}
								{{>module}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}
		<hr/>

		<fieldset class="wikiform">
			{{>wikiform}}
		</fieldset>
		<hr/>
		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-5">
				<button class="btn btn-lg btn-block btn-primary workSave" >Créer {{hash}}</button>
			</div>
		</fieldset>
	</form>
</template>