<template name="work-new">
	<form class="form-inline" role="form"> 
		<input class="form-control" type="hidden" id="workType" name="workType" value="{{hash}}">
		<fieldset class="row shopselector">
			{{>shopselector}}
		</fieldset>
		{{#if rendezvous}}
			<hr/>
			<fieldset class="rdvPicker">
				{{>rdvPicker}}
			</fieldset>
		{{/if}}
		{{#if planner}}
			<hr/>
			<fieldset class="rdvPlanner">
				{{>rdvPlanner}}
			</fieldset>
		{{/if}}
		{{#if worker}}
			<hr/>
			<fieldset class="row worker">
				<label class="col-sm-2">Hommes</label>
				<div class="col-sm-10">
					{{>workerselector}}
				</div>
			</fieldset>
		{{/if}}

		{{#if planner}}
			{{#if shop}}
				<hr/>
				<div class="row">
					<label class="col-sm-2">Modules</label>
					<div class="form-group col-sm-10">
						{{>workmodules shop=shop}}
					</div>
				</div>
			{{/if}}
		{{/if}}
		<hr/>

		<fieldset class="wikiform">
			{{>wikiform}}
		</fieldset>
		<hr/>
		<fieldset class="row">
			<div class="form-group col-sm-offset-2 col-sm-10">
				<button class="btn btn-lg btn-block btn-primary workSave" >Créer {{hash}}</button>
			</div>
		</fieldset>
	</form>
</template>