<template name="workSignature">
	<div class="popup">
		<div class="btn-margin-bottom btn-margin-top">
			<button class="btn btn-lg btn-default exit">
				Fermer
			</button>
			<button class="btn btn-lg btn-danger reset" {{drawn}}>
				Effacer
			</button>
			<button class="btn btn-lg btn-primary save" {{drawn}}>
				Valider
			</button>
		</div>

		<div class="input-group">
			<label class="input-group-addon vertical-label" ><div>{{name}}</div></label>
			<div class="modules form-control input-lg no-padding">
				<canvas class="signature disable-swipe"></canvas>
			</div>
		</div>
</div>
	
</template>
