<template name="workSignature">
	<div class="input-group col-sm-12">
		<label class="input-group-addon" >{{name}}</label>
		<div class="modules form-control input-lg no-padding">
			{{#if saved}}
				<img src="{{saved}}" />
			{{else}}
				<canvas class="signature disable-swipe"></canvas>
			{{/if}}
		</div>
	</div>
	{{#if drawn}}
		<div class="btn-margin-bottom btn-margin-top">
			<button class="btn btn-lg btn-default reset">
				Effacer
			</button>
			<button class="btn btn-lg btn-primary save">
				Valider
			</button>
		</div>
	{{/if}}
</template>
