<template name="workSummary">
	<div data-work-id="{{_id}}">
		<form class="form-inline" role="form"> 

			<fieldset class="row">
				<label class="col-sm-2">Client/Magasin</label>
				<div class="form-group col-sm-10">
					<a href="{{pathFor route='shop.view' id=this.shop._id}}" class="btn btn-link btn-lg" >{{this.shop.name}} - {{this.shop.brand}}</a>
				</div>
			</fieldset>
			
			<hr/>

			<fieldset class="row">
				<label class="col-sm-2">Planning</label>
				<div class="form-group col-sm-10">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="rendezvous">Date début</label>
						<input class="form-control input-lg" type="text" name="rendezvous" id="rendezvous" value="{{rdv}}" disabled/>
					</div>
				</div>
				<div class="form-group col-sm-offset-2 col-sm-10">
					<div class="input-group col-sm-12">
						<label class="input-group-addon" for="rendezvous">Date fin</label>
						<input class="form-control input-lg" type="text" name="rendezvous" id="rendezvous" value="{{end}}" disabled/>
					</div>
				</div>
			</fieldset>
			
			<hr/>

			<fieldset class="row worker">
				<label class="col-sm-2">Hommes</label>
					<div class="col-sm-10">
						{{>workerindex origine='shop' summary=true workId=_id}}
					</div>
			</fieldset>

			{{#if showTasks}}
				<hr/>
				
				<fieldset class="row modules">
					<label class="col-sm-2">Modules</label>
					<div class="form-group col-sm-10">
						{{>workmodules work=this abortUpdateTask=true}}
					</div>
				</fieldset>
			{{/if}}

			{{#if showMatters}}

				<hr/>

				<fieldset class="row modules">
					<label class="col-sm-2">Matériel</label>
					<div class="form-group col-sm-10">
						{{>matterlist work=this}}
					</div>
				</fieldset>
			{{/if}}
			
			<hr/>

			<fieldset class="row">
				<label class="col-sm-2">Description</label>
				<div class="form-group col-sm-10">
					{{>wikilist wikis=wikis view=true}}
				</div>
			</fieldset>
			<hr/>

			<fieldset class="row">
				<label class="col-sm-2">Photos</label>
				<div class="form-group col-sm-10">
					{{>pictureList pictures}}
				</div>
			</fieldset>

			<hr/>

			<fieldset class="row">
				<label class="col-sm-2">Signature</label>
				<div class="signature form-group col-sm-5">
					{{#if saved 'Client'}}
						<div class="input-group col-sm-12">
							<label class="input-group-addon" for="client_name">Client</label>
							<div class="modules form-control input-lg no-padding">
								<img src="{{saved 'Client'}}" />
							</div>
						</div>
					{{else}}
						<div class="input-group col-sm-12">
							<label class="input-group-addon" for="client_name">Nom client</label>
							<input class="form-control input-lg" type="text" id="client_name" name="client_name" />
							<span class="input-group-btn" id="basic-addon1">
							 	<button class="btn btn-lg btn-default sign Client " {{disable 'Client'}}>
									Sign
								</button>
							</span>
						</div>
						{{#if popupedSig 'Client'}}
							{{>workSignature work=this client=true}}
						{{/if}}
					{{/if}}
					
				</div>
				<div class="signature form-group col-sm-5">
					{{#if saved 'ADF'}}
						<div class="input-group col-sm-12">
							<label class="input-group-addon" for="adf_name">Tech</label>
							<div class="modules form-control input-lg no-padding">
								<img src="{{saved 'ADF'}}" />
							</div>
						</div>
					{{else}}
						<div class="input-group col-sm-12">
							<label class="input-group-addon" for="client_name">Nom tech</label>
							<input class="form-control input-lg" type="text" id="adf_name" name="adf_name" />
							<span class="input-group-btn" id="basic-addon1">
								<button class="btn btn-lg btn-default sign ADF" {{disable 'ADF'}}>
									Sign
								</button>
							</span>
						</div>
						{{#if popupedSig 'ADF'}}
							{{>workSignature work=this client=false}}
						{{/if}}
					{{/if}}					
				</div>
			</fieldset>

			<hr/>

		</form>
	</div>
</template>