<template name="work-viewaction">
	<h3>Fiche de travail</h3>
	<ul class="list-unstyled text-center">
		{{#if isAdmin }}
			<li>
				{{>buttondestroy method="workDestructor" class="btn-block" html="Supprimer" _id=_id}}
			</li>
		{{/if}}
		{{#if reopenable}}
			<li>
				{{#if end}}
					<button class="btn btn-lg btn-block btn-default workReopen" >Réouvrir</button>
				{{else}}
					<button class="btn btn-lg btn-block btn-default workClose" >Cloturer</button>
				{{/if}}
			</li>
		{{/if}}
		{{#if end}}
			<li>
				<button class="btn btn-lg btn-block btn-default print" >Imprimer</button>
			</li>
		{{/if}}
	</ul>
</template>
