<template name="work-viewaction">
	<h3>Fiche de travail</h3>
	<ul class="list-unstyled text-center">
		{{#if removeVisible }}
			<li>
				<button class="btn btn-lg btn-block btn-danger workDestructor" >Supprimer</button>
			</li>
		{{/if}}
		{{#if reopenable}}
			<li>
				{{#if end}}
					<button class="btn btn-lg btn-block btn-default workReopen" >Réouvrir</button>
				{{else}}
					<button class="btn btn-lg btn-block btn-default workClose" >Cloturer</button>
				{{/if}}
			</li>
		{{/if}}
	</ul>
</template>
