<template name="work-index">
	<button class="btn btn-lg btn-default listCalSwitcher pull-right" >
		{{#if listView }}
			Calendrier
		{{else}}
			Liste
		{{/if}}
	</button>
	<h3>Travaux</h3>
	<hr/>
	{{#if listView}}
		<ul class="list-unstyled">
			{{#each works}}
				<li data-work-id="{{_id}}">{{>workItem this}}</li>
			{{/each}}
		</ul>
	{{else}}
		{{> calendar works}}
	{{/if}}
</template>

<template name="workItem">
	<a href="{{pathFor route='work.show' workId=_id}}">{{type}} chez {{shop.name}}</a>
</template>