html, body{
	height: 100%;
    overflow-x: hidden;
}
body{	
    overflow: hidden;
}
header.navbar{
	margin-bottom: 0;
}
hr{
	margin:5px 0; 
}
.btn{
	margin-right: 5px;
}
ul.dropdown-menu li,
.form-control:not([type="email"]){
	text-transform: capitalize;
}
.form-control[type="email"]{
	text-transform: lowercase;
}

form[enctype="multipart/form-data"] .form-control.upload-control{
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5em;
}

#contextactions li {
	padding: 6px;
}

.worker .table>tbody>tr>td.td-lg{
	padding-top: 22px;
	padding-bottom: 20px;
	text-transform: capitalize;
}
h3{
	margin-bottom: 15px;
	padding-top: 8px;
}

body .btn:focus, 
body .btn:active:focus, 
body .btn.active:focus{
	outline: none;
}