<template name="position">
	{{#if mapReady}}
		<div class="btn-margin-bottom">
			<button class="btn btn-lg btn-default mapSizer">
				{{#if isLarge}}
					Rétrécir
				{{else}}
					Agrandir
				{{/if}}
			</button>
			{{#if routingReady}}
				<button class="btn btn-lg btn-default mapRouting">
					Commencer
				</button>
			{{else}}
				<button class="btn btn-lg btn-default mapRouter">
					Itinéraire
				</button>
			{{/if}}
			{{#unless followCenter}}
				<button class="btn btn-lg btn-default mapResume">
					Recentrer
				</button>
			{{/unless}}
		</div>
	{{/if}}
	{{#if duration}}
		<div class="col-sm-12 btn-margin-bottom">
			Vous vous trouvez à {{duration}} de votre destination
		</div>
	{{/if}}
	<div id="map-canvas" class="disable-swipe"></div>
</template>