<template name="originshow">
	<div class="row matterTransfert">
		<label class="col-xs-2">Transferts</label>
		<div class="col-xs-10">
			<div class="input-group col-sm-12">
				<label class="input-group-addon autowidth" for="matter">
					<input 	class="typeahead input-lg" name="matter" id="matter" type="text" disabled value="{{this.matter.name}}"/>
						
					<select name="destiny" class="form-control input-lg barcode">
						<option disabled selected value="">destination</option>
						{{#if isMobile}}
							<option value="barcode">~ Scan ~</option>
						{{/if}}
						{{#each destins}}
							<option value="{{this._id}}">{{this.ref}}</option>
						{{/each}}
					</select>
				</label>
				<input class="form-control input-lg input-xl z-index-auto" type="number" step="any" min="0" name="quantity" placeholder="Quantité" value="">
				<label class="input-group-addon autowidth">
					<select disabled class="form-control input-lg lowercase z-index-auto" id="unit" name="unit">
						<option selected>{{this.matter.unit}}</option>
					</select>
				</label>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<label class="col-sm-2">Traçabilité</label>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-12">
					<ul class="pagination pagination-lg pull-right no-margin">
						{{#each pager}}
							{{#if first}}
								<li>
									<a href="{{pathFor route='origin.show' originId=originId query=query.data}}" aria-label="Previous">
										{{query.date}}&nbsp;<i class="fa fa-angle-double-left"></i>&nbsp;
									</a>
								</li>
							{{else}}
								{{#if last}}
									<li>
										<a href="{{pathFor route='origin.show' originId=originId query=query.data}}" aria-label="Next">
											{{query.date}}&nbsp;<i class="fa fa-angle-double-right"></i>
										</a>
									</li>
								{{else}}
									<li class="{{active}}">
										<a href="{{pathFor route='origin.show' originId=originId query=query.data}}">
											<i class="fa fa-angle-double-down"></i>
										</a>
									</li>
								{{/if}}
							{{/if}}
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="row">
				<label class="col-xs-2">Sorties</label>
				<div class="col-xs-10">
					<table class="table" data-db-table-name="Origin" >
						<thead>
							<tr>
								<th>
									Quantité
								</th>
								<th>
									Travails / Clients
								</th>
								<th>
									Dest. Réf.
								</th>
								<th>
									Date
								</th>
								<th>
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							{{#each movesFrom}}
								{{setCurrent destinyId}}
								<tr>
									<td class="td-lg">
										<strong>{{quantity}} {{unit}}</strong>
									</td>
									<td>
										{{#if work}}
											<a href="{{pathFor route='work.show' workId=work._id}}" class="">
												{{work.myId}}
											</a>
										{{else}}
										-
										{{/if}}
										<br/>
										{{#if shop}}
											<a href="{{pathFor route='shop.view' id=shop._id}}" class="">
												{{shop.name}} - {{shop.brand}}
											</a>
										{{else}}
										-
										{{/if}}
									</td>
									<td>
										{{#if module}}
											{{module.serial}} {{module.type}} {{module.name}}
										{{else}}
											{{#if origine}}
												<a href="{{pathFor route='origin.show' originId=origine._id query=q}}" class="">
													{{origine.ref}}
												</a>
											{{/if}}
										{{/if}}
									</td>
									<td>
										<small>{{formatize dateTime}}</small>
									</td>

									<td>
										{{>buttondestroy method="moveDestroyer" _id=_id}}
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<label class="col-xs-2">Entrées</label>
				<div class="col-xs-10">
					<table class="table" data-db-table-name="Origin" >
						<thead>
							<tr>
								<th>
									Quantité
								</th>
								<th>
									Clients
								</th>
								<th>
									Orig. Réf.
								</th>
								<th>
									Date
								</th>
								<th>
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							{{#each movesTo}}
								{{setCurrent originId}}
								<tr>
									<td class="td-lg">
										<strong>{{quantity}} {{unit}}</strong>
									</td>
									<td>
										{{#if shop}}
											<a href="{{pathFor route='shop.view' id=shop._id}}" class="">
												{{shop.name}} - {{shop.brand}}
											</a>
										{{else}}
											-
										{{/if}}
									</td>
									<td>
										{{#if module}}
											{{module.serial}}
										{{else}}
											{{#if origine}}
												<a href="{{pathFor route='origin.show' originId=origine._id query=q}}" class="">
													{{origine.ref}}
												</a>
											{{/if}}
										{{/if}}
									</td>
									<td>
										<small>{{formatize dateTime}}</small>
									</td>
									<td>
										{{>buttondestroy method="moveDestroyer" _id=_id}}
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>		
			</div>
		</div>
	</div>
</template>