<template name="mainmenu">
	<ul class="nav">
		<li>
			<a href="{{pathFor route='home'}}">
				<img src="/images/logo.png">
			</a>
		</li>
		{{#if currentUser}}
			<li>
				<a href="{{pathFor route='worker.index'}}" class="">
					<i class="fa fa-fw fa-2x fa-users"></i>&nbsp; Travailleurs
				</a>
			</li>
			<li>
				<a href="{{pathFor route='shop.index'}}" class="">
					<i class="fa fa-fw fa-2x fa-smile-o"></i>&nbsp; Magasins/Clients
				</a>
			</li>
			<li>
				<a href="{{pathFor route='module.index'}}" class="">
					  <i class="fa fa-fw fa-2x fa-cube"></i>&nbsp; Meubles/Chambres
				</a>
			</li>
			<li>
				<a href="{{pathFor route='task.index'}}" class="">
					  <i class="fa fa-fw fa-2x fa-wrench"></i>&nbsp; Tâches
				</a>
			</li>
			<li>
				<a href="{{pathFor route='matter.index'}}" class="">
					  <i class="fa fa-fw fa-2x fa-cogs"></i>&nbsp; Matériels
				</a>
			</li>
			<li>
				<a href="{{pathFor route='user.signout'}}">
					<i class="fa fa-fw fa-2x fa-sign-out"></i>&nbsp; Déconnection
				</a>
			</li>
			{{#if isAdmin}}
				<li>
					<a href="#" >
						<i class="fa fa-fw fa-2x fa-home"></i>&nbsp; {{absoluteUrl}}
					</a>
				</li>
			{{/if}}
		{{else}}
			<li>
				<a href="{{pathFor route='home'}}" class="{{#if currentUser}}{{else}}active{{/if}}">
					<i class="fa fa-fw fa-2x fa-sign-in"></i>&nbsp; Connection
				</a>
			</li>
			<li>
				<a href="#" >
					<i class="fa fa-fw fa-2x fa-home"></i>&nbsp; {{absoluteUrl}}
				</a>
			</li>
		{{/if}}
	</ul>
</template>