<template name="layout">
	<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top {{contextMenuOpen}}" id="cbp-spmenu-s3">
		{{>contextmenu}}
	</nav>
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left {{menuOpen}}" id="cbp-spmenu-s1">
		{{>mainmenu}}
	</nav>
	<div class="cbp-spmenu-push {{pushToRight}} {{pushToBottom}}">
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
			<div class="navbar-header">
				<button type="button" class="pull-left btn-lg btn btn-default toggle-main-menu {{isMenuOpen}}">
					<i class="fa fa-2x fa-bars"></i>
				</button>
				<button type="button" class="pull-left btn-lg btn btn-default toggle-context-menu {{isContextMenuOpen}} {{#unless isContextMenu}}hide{{/unless}}">
					<i class="fa fa-2x fa-cog"></i>
				</button>
				<h3 class="text-center">{{title}}</h3>
			</div>
		</header>
		<hr/>
		<div class="container main">
			{{>errorMessage}}
			{{>successMessage}}
			<section>	
				{{> yield}}
			</section>
		</div>
	</div>
</template>