<template name="workerindex">
	{{#if workers2}}
	<div class="row">
		<div class="col-sm-12">
			<table class="table" data-db-table-name="worker" >
				<thead>
					<tr>
						<th data-db-row-name="worker_name">
							Nom
						</th>
						<th>
							Temps
						</th>
						{{#if schedular}}
							<th>
								Travail
							</th>
						{{/if}}
						{{#if schedularSummary}}
							<th>
								Temps de travail - hh:mm
							</th>
						{{/if}}
						{{#if actions }}
							<th>
								Actions
							</th>
						{{/if}}
					</tr>
				</thead>
				<tbody>
					{{#each workers2}}
						{{>workeritem}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	{{/if}}
</template>

<template name="workeritem">
	<tr data-worker-id="{{_id}}">
		
		<td class="td-lg">
			<a href="{{pathFor route='worker.view' workerId=_id}}" class="btn btn-lg btn-link">
				{{#with profile}}
					{{firstname}} {{lastname}} 
				{{else}}
					...
				{{/with}}
			</a>
		</td>
		<td class="td-lg timetable">
			<ul>
				{{#each timetable}}
				 <li> {{humanizer this.start}} - {{humanizer this.stop}}</li>
				{{/each}}
			</ul>
		</td>
		
		<td>
			{{#if schedular}}
				{{#if working }}
					<button class="btn btn-lg btn-danger btn-block schedule stop">
						<i class="fa fa-cog fa-spin"></i>&nbsp; Arrêter
					</button>
				{{else}}
					<button class="btn btn-lg btn-default btn-block schedule start">
						<i class="fa fa-play"></i>&nbsp; Commencer
					</button>
				{{/if}}
			{{/if}}
		</td>
		
		{{#if schedularSummary}}
			<td class="td-lg">
				{{schedularSummary}}
			</td>
		{{/if}}
		
		{{#if isEditAndDestroyVisible }}
				<td>
					{{#if isChief }}
						<a class="btn btn-lg btn-default" href="{{pathFor route='user.edit' workerId=_id}}">Modifier</a>
					{{/if}}
					{{>buttondestroy method="workerDestroyer" _id=_id}}
				</td>
		{{/if}}
	</tr>
</template>