<template name="workerindex">
	{{#if workers}}
		<div class="row">
			<div class="col-sm-12">
				<table class="table" data-db-table-name="worker" >
					<thead>
						<tr>
							<th data-db-row-name="worker_name">
								Nom
							</th>
							{{#if isWorkerIndex }}
								<th>
									Actions
								</th>
							{{else}}
								<th>
									Temps
								</th>
								{{#unless summary}}
									<th>
										Travail
									</th>
								{{/unless}}
							{{/if}}
						</tr>
					</thead>
					<tbody>
						{{#each workers}}
							{{>workeritem}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	{{/if}}
</template>

<template name="workeritem">
	<tr data-worker-id="{{_id}}">
		
		<td class="td-lg">
			<a href="{{pathFor route='worker.view' workerId=_id}}" class="">
				{{#with profile}}
					{{firstname}} {{lastname}} 
				{{else}}
					...
				{{/with}}
			</a>
		</td>
		{{#if isWorkerIndex}}	
			<td>
				{{>buttonmodifier route="user.edit" _id=_id}}
				{{>buttondestroy method="workerDestroyer" _id=_id}}
			</td>
		{{else}}
			<td class="td-lg timetable">
				<ul>
					{{#each timetable}}
					 	<li>{{humanizer this.start this.stop}}</li>
					{{/each}}
					<li>
						Total : <strong>{{summarize timetable}}</strong>
					</li>
				</ul>
			</td>
			{{#unless summary}}
				<td>
					{{#if schedular}}
						{{#if working }}
							<button class="btn btn-lg btn-danger btn-block schedule stop">
								<i class="fa fa-cog fa-spin"></i>&nbsp; Arrêter
							</button>
						{{else}}
							<button class="btn btn-lg btn-default btn-block schedule start">
								<i class="fa fa-play"></i>&nbsp; Commencer
							</button>
						{{/if}}
					{{/if}}
				</td>
			{{/unless}}
		{{/if}}
	</tr>
</template>