<template name="workerindex">
	{{#if workers}}
	<div class="row">
		<div class="col-sm-12">
			<table class="table" data-db-table-name="worker" >
				<thead>
					<tr>
						<th data-db-row-name="worker_name">
							Nom
						</th>
						{{#if schedular}}
							<th>
								Travail
							</th>
						{{/if}}
						{{#if schedularSummary}}
							<th>
								Temps de travail - hh:mm
							</th>
						{{/if}}
						{{#if actions }}
							<th>
								Actions
							</th>
						{{/if}}
					</tr>
				</thead>
				<tbody>
					{{#each workers}}
						{{>workeritem}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	{{/if}}
</template>

<template name="workeritem">
	<tr data-worker-id="{{_id}}">
		{{#with profile}}
			<td class="td-lg">
				<a href="{{pathFor route='worker.view' workerId=_id}}" class="btn btn-lg btn-link">
					{{firstname}} {{lastname}} 
				</a>
			</td>
		{{else}}
			<td class="td-lg">
				...
			</td>
		{{/with}}
		{{#if schedular}}
			<td>
				{{#if working }}
					<button class="btn btn-lg btn-danger btn-block schedule stop">
						<i class="fa fa-cog fa-spin"></i>&nbsp; Arrêter
					</button>
				{{else}}
					<button class="btn btn-lg btn-default btn-block schedule start">
						<i class="fa fa-play"></i>&nbsp; Commencer
					</button>
				{{/if}}
			</td>
		{{/if}}
		{{#if schedularSummary}}
			<td class="td-lg">
				{{schedularSummary}}
			</td>
		{{/if}}
		
		{{#if actions }}
				<td>
					{{#if isChief }}
						<a class="btn btn-lg btn-default" href="{{pathFor route='user.edit' workerId=_id}}">Modifier</a>
					{{/if}}
					{{>buttondestroy method="workerDestroyer" _id=_id}}
				</td>
		{{/if}}
	</tr>
</template>