<template name="moduleindex">
	{{#if modules}}
		<div class="row">
			<div class="col-sm-12">
				<table class="table" data-db-table-name="modules" >
					<thead>
						<tr>
							<th data-db-row-name="module_name">
								Type
							</th>
							<th>
								{{#if view}}
									N°Série - 
								{{/if}}
								Nom
							</th>
						</tr>
					</thead>
					<tbody>
						{{#each modules}}
							{{>modulegroupe}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	{{/if}}
</template>

<template name="modulegroupe">
	<tr>
		<td class="td-lg">
			{{type}}
		</td>
		<td>
			{{#each modules}}
				{{>moduleitem}}
			{{/each}}
		</td>
	</tr>
</template>

<template name="moduleitem">
	<tr data-shop-id="{{_id}}">
		<td class="td-lg">
			{{#if serial}}
				{{serial}} - 
			{{/if}}
			{{name}}
		</td>
		<td>
			{{#unless view}}
				{{#if isChief }}
					<a href="{{pathFor route='module.edit' moduleId=_id}}" class="btn btn-lg btn-default pull-right">
						Modifier
					</a>
					{{>buttondestroy method="moduleDestroyer" _id=_id}}
				{{/if}}
			{{/unless}}
		</td>
	</tr>
</template>