<template name="wikiform">
	{{#if wikiEdit }}
		<fieldset>
			<div class="form-group">
				<div class="input-group col-sm-12">
					{{#if mobile}}
						<button class="btn btn-primary btn-lg photoShoot btn-margin-bottom" >Photo</button>
					{{else}}
						<span class="btn btn-primary btn-lg btn-file photoLoad">Photo
							<input type="file" multiple>
						</span>
					{{/if}}
					{{>pictureList photo}}
				</div>
			</div>
		</fieldset>
		<fieldset class="margin-bottom">
				<div class="input-group col-sm-12">
					<label class="input-group-addon" for="{{wikiEdit}}" >Description</label>
					<textarea class="form-control input-lg" id="{{wikiEdit}}" name="{{wikiEdit}}" required></textarea>
				</div>
		</fieldset>
	{{else}}
		<button class="btn btn-default btn-lg wikiEdit" >Ajouter</button>
	{{/if}}
</template>