<template name="wikilist">
	<fieldset class="margin-top">
		<div class="input-group col-xs-12">
			<ul class="list-unstyled wikilist">
				{{#each wikis}}
					<li>
						<fieldset class="row">
							<div class="form-group col-xs-12">
								<div class="input-group col-xs-12">
									{{#if removable}}
										<div class="pull-right">
											{{>buttondestroy method="wikiDestroyer" _id=_id}}
										</div>
									{{/if}}
									<div class="wiki-created">
										{{createdAt}}
									</div>							
									<div class="wiki-desc">
										{{description}}
									</div>
									
								</div>
							</div>
						</fieldset>	
					</li>
				{{/each}}
			</ul>
		</div>
	</fieldset>
</template>