<template name="wikilist">
	{{#if label}}
		<fieldset class="row">
			<label class="col-sm-2">Wiki</label>
		</fieldset>	
	{{/if}}
	<ul class="list-unstyled wikilist">
		{{#each wikis}}
			<li>
				<fieldset class="row">
					<div class="form-group col-sm-offset-2 col-sm-5">
						<div class="input-group col-sm-12">
							<div class="wiki-created">
								{{createdAt}}
							</div>							
							<div class="wiki-desc">
								{{description}}
							</div>
						</div>
					</div>
				</fieldset>	
				<fieldset class="row">
					<div class="form-group col-sm-offset-2 col-md-7 col-sm-offset-0 col-sm-5">
						<div class="input-group col-sm-12">
							{{>pictureList uploads}}
						</div>
					</div>
				</fieldset>
			</li>
		{{/each}}
	</ul>
</template>